
{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - LinkUp</title>
  <style>
    h1 {
      color: #333;
    }

    p {
      color: #666;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    .section {
      margin-bottom: 30px;
    }
  </style>
</head>

<body>
    <div class="container-fluid px-0 mb-3" >
        <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
      </div>
    
  <div class="container">
    <h1>About LinkUp</h1>
    <div class="section">
      <h2>What is LinkUp?</h2>
      <p>LinkUp is a web app that helps job seekers create personalized cover letters, improve their matching score, and identify suggested keywords for their resumes.</p>
    </div>

    <div class="section">
      <h2>How does it work?</h2>
      <p>LinkUp utilizes advanced algorithms to analyze the job description, company name, and resume provided by the user. It then generates a tailored cover letter, calculates a matching score between the resume and job description, and suggests relevant keywords to optimize the resume for the specific job.</p>
    </div>

    <div class="section">
      <h2>Why use LinkUp?</h2>
      <p>LinkUp streamlines the job application process by providing a comprehensive toolkit for optimizing your resume and cover letter. It saves time by automating the customization process and helps you stand out from other applicants by highlighting your skills and qualifications that closely match the job requirements.</p>
    </div>

    <div class="section">
      <h2>Contact Us</h2>
      <p>If you have any questions, feedback, or suggestions, please feel free to reach out to our team. We'd love to hear from you!</p>
      <p>Email: info@linkup.com</p>
    </div>
  </div>
</body>

</html>

{% endblock body %}
