{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %}

<div class="container-fluid px-0 mb-3"></div>
<div class="container mb-3 py-4">
  <h1 class="text-center">Cover Letter</h1>
  <div>{{cover_letter}}</div>
  <br />
  <button class="btn btn-primary" type="submit">
    <a href="/pdf" style="color: white">Reset</a>
  </button>
  <br />
  {% if keywords|length > 0 %}
  <div>
    <div>Add this keywords to resume for better chances</div>
    {% for element in keywords %}
    <li>{{ element }},</li>
    {% endfor %}
  </div>
  {% else %}
  <p>My array is empty.</p>
  {% endif %}
</div>

{% endblock body %}
